<launch>
    <node pkg="bot_sim" type="dstarlite" name="dstarlite" >
        <param name="map_topic_name" value="/map" />
        <param name="map_frame_name" value="map" />
        <param name="robot_frame_name" value="virtual_frame" />
        <param name="dynamic_map_topic_name" value="/grid" />
        <param name="goal_topic_name" value="/clicked_point" />
        
        <!-- Params for edge cost -->
        <param name="x0_grid" type="double" value="65" />
        <param name="k_grid" type="double" value="0.5" />
        <param name="L_grid" type="double" value="5" />
        
        <!-- Params for velocity cost -->
        <param name="x0_velocity" type="double" value="150" />
        <param name="k_velocity" type="double" value="-0.25" />
        <param name="L_velocity" type="double" value="1.5" />

        <!-- Params for velocity decrease when reaching goal -->
        <param name="start_decrease_dis" type="double" value="2" />
        <param name="min_velocity_rate" type="double" value="0.2" />
    </node>
</launch>