<launch>
    <node pkg="bot_sim" type="imu_filter" name="imu_filter">
        <param name="input_imu_topic" type="string" value="/livox/imu_192_168_1_3" />
        <param name="output_imu_topic" type="string" value="/livox/imu_192_168_1_3_filtered" />
        <param name="gravity" type="double" value="9.81" />
    </node>
</launch>   
